
@import '../../globals.scss';

.project {
    height: 461px;
}

.project-content {
    width: 80%;
    margin: 0 10% 0 100px;
    opacity: 0;
}

.project-title {
    font-size: 16px;
}

.project-text {
    font-size: 10px;
}

.project-slider {

    width: 95%;
    height: 300px;
    margin: 10px 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.circle-container {
    height: 26px;
    width: 26px;
    position: absolute;
}

.circle {
    height: 100%;
    width: 100%;
    scale: 0;
    margin: auto;
    background-color: $color-accent;
    border-radius: 50%;
}

.project-line-dot {
    position: absolute;
    left: 37px; // circles are 50 px from the side
}

.end {
    height: 300px;
    margin-bottom: 150px;
}

.end-line {
    width: 100%;
}


.animate-line {
    // dashes used to create line drawing animation
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}


// circle animation

.grow-anim {
    animation: grow 0.25s;
    animation-fill-mode: forwards;
}

.ungrow-anim {
    animation: ungrow 0.25s;
}

@keyframes grow {
    0%   { scale: 0; }
    90%  { scale: 1.1; }
    100% { scale: 1; }
}

@keyframes ungrow {
    0%   { scale: 1; }
    100% { scale: 0; }
}

// project animation

.fadein-anim {
    animation: fadein 0.25s;
    animation-fill-mode: forwards;
}

.fade-anim {
    animation: fade 0.25s;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


// final line animation
// note: most of the draw anim is handled in js, this is just for the final line that doesn't go with scroll

.draw-anim {
    animation: draw 1s;
    animation-fill-mode: forwards;
}

@keyframes draw {
    100% { stroke-dashoffset: 0; }    
}
