
@import '../../globals.scss';

.project {
    height: 470px;
}

.project-content {
    width: 80%;
    margin: 0 10% 0 100px;
    opacity: 0;
}

.project-title {
    font-size: 16px;
}

.project-text {
    font-size: 10px;
}

.project-slider {

    width: 95%;
    height: 300px;
    margin: 10px 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.circle-container {
    height: 26px;
    width: 26px;
    position: absolute;
}

.circle {
    height: 100%;
    width: 100%;
    scale: 0;
    margin: auto;
    background-color: $color-accent;
    border-radius: 50%;
}

.project-line-dot {
    position: absolute;
    left: 37px; // circles are 50 px from the side
}

.end {
    height: 300px;
    margin-bottom: 150px;
}