
@import '../../globals.scss';

.project {
    height: 470px;
}

.project-content {
    margin: 0 10px 0 100px;
    opacity: 0;
}

.project-title {
    font-size: 28px;
}

.project-text {
    font-size: 20px;
    margin-right: 20px;
}

.project-slider {

    width: 95%;
    height: 300px;
    margin: 10px 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.circle {
    height: 26px;
    width: 26px;
    position: absolute;
    left: 37px; // circles are 50 px from the side
    scale: 0;
    margin: auto;
    background-color: $color-accent;
    border-radius: 50%;
}

.end {
    height: 450px;
    @media (max-width: 600px) {
        height: 750px;
    }
}

.readMoreLink {
    display: inline-block;
    padding-top: 10px;
    color: $color-secondary;
}

.longText {
    @media (max-width: 600px) {
        display: none;
    }
}

.shortText {
    @media (min-width: 600px) {
        display: none;
    }
}

.endLinksContainer {
    font-size: 30px;

    padding: 155px 0px 0px 380px;

    @media (max-width: 600px) {
        padding: 430px 0px 0px 100px;
    }
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.endLink {
    z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .draw-anim {
        animation: draw 1s;
        animation-fill-mode: forwards;
    }
    
    @keyframes draw {
        100% { stroke-dashoffset: 0; }    
    }

    
    // circle animation

    .growAnim {
        animation: grow 0.25s;
        animation-fill-mode: forwards;
    }

    .ungrowAnim {
        animation: ungrow 0.25s;
    }

    @keyframes grow {
        0%   { scale: 0; }
        90%  { scale: 1.1; }
        100% { scale: 1; }
    }

    @keyframes ungrow {
        0%   { scale: 1; }
        100% { scale: 0; }
    }

    // project animation

    .fadeinAnim {
        animation: fadein 0.25s;
        animation-fill-mode: forwards;
    }

    .fadeAnim {
        animation: fade 0.25s;
    }

    @keyframes fadein {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes fade {
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }

}
