
@import '../../globals.scss';

.welcome-icons-container {
    position: absolute;
    min-height: 200px;
    height: 40vh;
    width: 100%;
}

.icon {
    width: 10%;
    position: absolute;
}

.welcome-text {
    font-size: 16px;
    text-align: center;
    margin: 50px 80px;
    padding-top: 100px;
}

.welcome-continue {
    color: $color-accent;
    font-size: 16px;
    text-align: center;
    display: block;
}

.welcome-line {
    
    margin-top: 16px;

    position: relative;
    height: 240px;
    width: 100%;

    .welcome-arrow, .line-start {
        // makes them centered and on top of each other
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
    }

    .welcome-arrow {
        display: flex;
        justify-content: center;
    }
}

.line-1-svg {
    width: 100%;
}