
@import '../../globals.scss';

.welcomeSection {
    margin: 35vh 0px 0px;
}

.welcomeText {
    font-size: 24px;
    text-align: center;
}

.welcomeContinue {
    color: $color-accent;
    font-size: 24px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.welcomeLine {
    
    margin-top: 10vh;

    .welcomeArrow {
        // makes them centered and on top of each other
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
}