
@import '../../globals.scss';

.footer {
    background-color: $color-primary;
    width: 100%;
    padding: 40px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright {
    margin-right: 100px;
    font-size: $font-small;
    @media (max-width: 800px) {
        margin-right: 50px;
    }
}
