
@import '../../globals.scss';

.header {
    height: 60px;
    position: absolute;
    left: 18px;
    top: 18px;
    z-index: 100;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-title {
    font-size: 36px;
    width: fit-content;
}

.header-nav {
    display: flex;
    gap: 18px;

    &-item {
        font-size: 24px;
        color: $color-secondary;
        cursor: pointer;
    }
}